:host {
  display: block;
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  font-family: "Open sans", "lucida grande", "Segoe UI", arial, verdana, tahoma, sans-serif;
  font: 400 14px/1.57;
}
:host h2 {
  font: 22px/1.6;
  font-weight: normal;
}
:host div.example {
  padding: 15px 20px;
}
 /deep/ .drag-source-ghost-wrapper {
  z-index: 100000;
  position: fixed;
}
